@media #{$iPhone}
  #nav-left
    padding: 0
    text-align: center

  #modal-close-photo
    top: 15%

  #photography .modal img
    margin: 40% 0
    max-width: 80%

  .closebtn
    top: 0
    right: 0

  #photography .closebtn
    top: 100px
    right: 100px

@media #{$iPad}
  #nav-left
    margin: 0 0 0 100px
    text-align: center

  #photography .modal img
    margin: 5% 0
    max-width: 65%

  .closebtn
    top: 0
    right: 0

  #photography .closebtn
    top: 20px
    right: 200px

@media #{$desktop}
  #nav-right
    padding-right: 6%

@media screen and (min-width: 815px)
  iframe
    height: 315px
    width: 560px

@media screen and (min-width: 901px)
  #nav-close, #dropbtn
    display: none

@media screen and (max-width: 635px)
  #nav-close
    right: 13%
    top: 1%

@media screen and (max-width: 900px)
  #nav-left
    display: none
