@media #{$iPhone}

  #nav-close
    right: 13%
    top: 1%

  #nav-left
    display: none

@media #{desktop}

  #nav-right
    padding-right: 6%

@media screen and (min-width: 815px)

  iframe
    height: 315px
    width: 560px

@media screen and (min-width: 901px)

  #nav-close, #dropbtn
    display: none

  #responsive
    background-color: #fff
    display: flex
    flex-direction: row
    position: relative
    z-index: 0

@media screen and (min-width: 1200px)

  #modal-close-photo, #modal-close-home
    right: 26%

@media screen and (max-width: 635px)

  #nav-close
    right: 13%
    top: 1%

@media screen and (max-width: 900px)

  #nav-left
    display: none
