.modal
  background-color: rgba(0,0,0,0.4)
  height: 100%
  position: fixed
  left: 0
  top: 0
  width: 100vw

.modal-img
  position: absolute
  right: 100px
  top: 100px
  width: 1000px

.closebtn
  cursor: pointer
  font-size: 24px
  font-weight: bold
  position: absolute
  right: 10%
  top: 10%
