nav
  display: flex
  margin: 0 auto
  max-width: 1000px

nav ul
    display: inline
    padding: 15px 15px

    &:last-child
      margin-left: auto

#dropbtn
  position: absolute
  right: 20px

#nav-right
  display: none
  padding: 0
  text-align: center

#nav-left li
  text-align: left
  left: 30px

#nav-right
  padding: 50px 0 0 140px 
