#wrapper {
  margin: 0 auto;
  max-width: 740px;
  min-height: 100%;
  padding: 0 5%;
}

#home img {
  margin: 5% 0;
}

.gallery {
  padding-left: 0;
}
//    contact    //
#contact {
  float: right;
}

#contact img {
  float: left;
  max-width: 50%;
  padding: 0 11% 0 0;
}

.about-me {
  text-align: right;
}


//    photography    //
#people li, #nature li {
  float: left;
  width: 45%;
  margin: 2.5%;
}

#nav-people:hover , #nav-nature:hover {
  text-decoration: underline;
}

//
#video {
  display: block;
  margin: 0 auto;
  text-align: center;
}


// JS
.hidden {
  display: none;
}

.visible {
  display: block;
}

.underline {
  text-decoration: underline;
}

.not-underlined {
  text-decoration: none;
}

#close {
  top: 5%;
  right: 50%;
  position: absolute;
}


//    graphics    //
#graphics, #videos {
  margin: 0 auto;
  text-align: center;
}
//    brandon-resume    //
.brandon-resume {
  max-width: 80%;
}
