@media screen and (min-width: 815px) {

  iframe {
    height: 315px;
    width: 560px;
  }
}

@media screen and (min-width: 901px) {

  .dropbtn {
    display: none;
  }

  #nav-close {
    display: none;
  }
}

@media screen and (max-width: 635px) {

  .responsive, .responsive-x {
    padding-left: 15%;
  }

  #nav-close {
    right: 13%;
    top: 1%;
  }
}

@media screen and (max-width: 900px) {

  .left-default {
    display: none;
    color: white;
    clear: left;
    float: left;
    position: absolute;
  }

  #navRight {
    padding-right: 6%;
  }

  ul.left-default.responsive {
    position: fixed;
  }

  ul.left-default.responsive {
    float: left;
  }
}
