nav {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  margin: 0 auto;
  max-width: 1000px
}

nav ul {
  display: inline;
  padding: 15px 15px;

  &:last-child {
    margin-left: auto;
  }
}


//    nav-close    //
#nav-close {
  position: absolute;
  right: 8%;
  top: 1%;
}


//    nav-left    //
#nav-left li {
  display: inline-block;
  margin-right: 50px;
}

#navRight li {
  text-align: right;
}


//    Photography    //
#nav-people, #nav-nature {
  display: inline-block;
  margin: 0 5% 0 8%;
  padding: 0 5%;
  text-align: center;
}

#nav-nature {
  margin-left: 20px;
}

.nav-sub {
  cursor: pointer;
}


//    dropbtn    //
.dropbtn {
  background-color: #fff;
  border: none;
  color: white;
  cursor: pointer;
  height: 30px;
  margin-left: 10%;
  margin-top: 15%;
}


//   responsive    //
.responsive {
  background-color: #f9f9f9;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  width: 100%;
}

.responsive {
  padding-left: 10%;
}
