.contact(data-ng-controller='ContactController as contact')

  h1 {{ contact.test }}

  img(src='dist/images/lauren.jpg' alt='lauren')
  .contact-bio
    h2 Hi! My name is Lauren!
    p I'm an artist based in the Houston area and my favorite mediums are photography, printmaking, and video! Say that three times fast!
