footer
  a(href='mailto:wbrchair13@gmail.com')
    img.social(src='dist/images/email-logo.png', alt='email logo')
  a(href='http://www.instagram.com/catladylaurenn')
    img.social(src='dist/images/instagram-logo.png', alt='instagram logo')
  a(href='http://www.twitter.com/catladylaurenn')
    img.social(src='dist/images/twitter-logo.png', alt='twitter logo')
  a(href='https://www.facebook.com/catladylaurenn')
    img.social(src='dist/images/facebook-logo.png', alt='facebook logo')
  a(href='http://brandnpatterson.github.io/')
    p.copyright
      | ©
      script(type='text/javascript') document.write(new Date().getFullYear());
      | &nbsp; Brandon Patterson. All Rights Reserved.

script(src='dist/js/index.min.js')
