p This is a resume I build for a web developer, Brandon Patterson.
a(href='dist/images/brandon-patterson-resume.pdf' download)
  img.brandon-resume(src='dist/images/brandon-patterson-resume.png' alt='brandon patterson\'s resume')
