img#img01(src='dist/images/flowers.jpg' alt='a white flower')
#modal01.modal.hidden
  .container
    span.closebtn ×
    img(src='dist/images/flowers.jpg' alt='a white flower')

img#img02(src='dist/images/leaf.jpg' alt='a single leaf')
#modal02.modal.hidden
  .container
    span.closebtn ×
    img(src='dist/images/leaf.jpg' alt='a single leaf')

img#img03(src='dist/images/cat-white.jpg' alt='a white cat')
#modal03.modal.hidden
  .container
    span.closebtn ×
    img(src='dist/images/cat-white.jpg' alt='a white cat')
