doctype
html(lang='en-US' data-ng-app='routing')
  include head.pug
  include vars.pug

  body(data-ng-controller='MainController as main')

    h1 {{ main.test }}

    nav
      ul#nav-left
        li
          a(href='#/home')
            h2 LAUREN ROSE WHITE
        li
          a(href='#/contact')
            h2 CONTACT
      ul#nav-right
        li
          a(href='#/graphics')
            h2 GRAPHICS
        li
          a(href='#/photo')
            h2 PHOTOGRAPHY
        li
          a(href='#/print')
            h2 PRINTMAKING
        li
          a(href='#/videos')
            h2 VIDEOS
      #dropbtn
        div.bar1
        div.bar2
        div.bar3

    #content(ng-view)

    footer
      a(href='mailto:wbrchair13@gmail.com')
        img.social(src='dist/images/email-logo.png', alt='email logo')
      a(href='http://www.instagram.com/catladylaurenn')
        img.social(src='dist/images/instagram-logo.png', alt='instagram logo')
      a(href='http://www.twitter.com/catladylaurenn')
        img.social(src='dist/images/twitter-logo.png', alt='twitter logo')
      a(href='https://www.facebook.com/catladylaurenn')
        img.social(src='dist/images/facebook-logo.png', alt='facebook logo')
      a(href='http://brandnpatterson.net/')
        p.copyright
          | ©
          script(type='text/javascript') document.write(new Date().getFullYear());
          | &nbsp; Brandon Patterson. All Rights Reserved.

    script(src='//code.angularjs.org/1.5.8/angular.min.js')
    script(src='//code.angularjs.org/1.5.8/angular-animate.min.js')
    script(src='//code.angularjs.org/1.5.8/angular-route.min.js')
    scripts(src='dist/includes/bootstrap.min.js')
    script(src='dist/index.min.js')
