doctype
html(lang='en-US')
  include head.pug
  include vars.pug
  body
    nav
      img#dropbtn(src='dist/images/dropbtn.png' alt='menu icon')
      ul#nav-left
        li
          a#nav-graphics(href='#graphics')
            h2 GRAPHICS
        li
          a#nav-photography(href='#photography')
            h2 PHOTOGRAPHY
        li
          a#nav-printmaking(href='#printmaking')
            h2 PRINTMAKING
        li
          a#nav-videos(href='#videos')
            h2 VIDEOS
        li
          h2#nav-close X
      ul#nav-right
        li
          a#nav-home(href='#home')
            h2 LAUREN ROSE WHITE
        li
          a#nav-contact(href='#contact')
            h2 CONTACT

    #content

    footer#footer
      a(href='mailto:wbrchair13@gmail.com')
        img.social(src='dist/images/email-logo.png', alt='email logo')
      a(href='http://www.instagram.com/catladylaurenn')
        img.social(src='dist/images/instagram-logo.png', alt='instagram logo')
      a(href='http://www.twitter.com/catladylaurenn')
        img.social(src='dist/images/twitter-logo.png', alt='twitter logo')
      a(href='https://www.facebook.com/catladylaurenn')
        img.social(src='dist/images/facebook-logo.png', alt='facebook logo')
      a(href='http://brandnpatterson.net/')
        p.copyright
          | ©
          script(type='text/javascript') document.write(new Date().getFullYear());
          | &nbsp; Brandon Patterson. All Rights Reserved.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script window.jQuery || document.write('<script src="node_modules/jquery/dist/jquery.min.js"><\x3C\/script>')
    script(src='dist/js/main.min.js')
