doctype
html(lang='en-US')
  include head.pug
  include vars.pug
  body
    nav
      ul#nav-left
        li
          a(href='#home')
            h2 LAUREN ROSE WHITE
        li
          a(href='#contact')
            h2 CONTACT
      ul#nav-right
        li
          a(href='#graphics')
            h2 GRAPHICS
        li
          a(href='#photography')
            h2 PHOTOGRAPHY
        li
          a(href='#printmaking')
            h2 PRINTMAKING
        li
          a(href='#videos')
            h2 VIDEOS
      #dropbtn
        div.bar1
        div.bar2
        div.bar3

    #content

    footer
      a(href='mailto:wbrchair13@gmail.com')
        img.social(src='dist/images/email-logo.png', alt='email logo')
      a(href='http://www.instagram.com/catladylaurenn')
        img.social(src='dist/images/instagram-logo.png', alt='instagram logo')
      a(href='http://www.twitter.com/catladylaurenn')
        img.social(src='dist/images/twitter-logo.png', alt='twitter logo')
      a(href='https://www.facebook.com/catladylaurenn')
        img.social(src='dist/images/facebook-logo.png', alt='facebook logo')
      a(href='http://brandnpatterson.net/')
        p.copyright
          | ©
          script(type='text/javascript') document.write(new Date().getFullYear());
          | &nbsp; Brandon Patterson. All Rights Reserved.

    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script window.jQuery || document.write('<script src="dist/inclues/jquery-3.1.1.min.js"><\x3C\/script>')
    script(src='dist/index.min.js')
