nav
  ul#nav-left
    li
      a(href='#home')
        h2 LAUREN ROSE WHITE
    li
      a(href='#contact')
        h2 CONTACT
  ul#nav-right
    li
      a(href='#photography')
        h2 PHOTOGRAPHY
    li
      a(href='#printmaking')
        h2 PRINTMAKING
    li
      a(href='#videos')
        h2 VIDEOS
  #dropBtn
    div.bar1
    div.bar2
    div.bar3
