p.nav-photo.underline(data-click="people") People
p.nav-photo(data-click="nature") Nature

#people
  img.get-modal(data-click='modal05' src='dist/images/pea-coat.jpg' alt='a girl in a peacoat')
  #modal05.modal.hidden
    .modal-container
      span.closebtn ×
      img.modal-img(src='dist/images/pea-coat.jpg' alt='a girl in a peacoat')

  img.get-modal(data-click='modal06' src='dist/images/hand.jpg' alt='a hand covers the sunlight')
  #modal06.modal.hidden
    .modal-container
      span.closebtn ×
      img.modal-img(src='dist/images/hand.jpg' alt='a hand covers the sunlight')

  img.get-modal(data-click='modal07' src='dist/images/guitar.jpg' alt='a girl playing guitar')
  #modal07.modal.hidden
    .modal-container
      span.closebtn ×
      img.modal-img(src='dist/images/guitar.jpg' alt='a girl playing guitar')
// end people

#nature.hidden
  img.get-modal(data-click='modal08' src='dist/images/waves.jpg' alt='a bird at the beach at sunset')
  #modal08.modal.hidden
    .modal-container
      span.closebtn ×
      img.modal-img(src='dist/images/waves.jpg' alt='a bird at the beach at sunset')

  img.get-modal(data-click='modal09' src='dist/images/dolphin.jpg' alt='a dolphin leaping out of the water')
  #modal09.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/dolphin.jpg' alt='a dolphin leaping out of the water')

  img.get-modal(data-click='modal10' src='dist/images/fields.jpg' alt=' a green field under blue skies')
  #modal10.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/fields.jpg' alt=' a green field under blue skies')

  img.get-modal(data-click='modal11' src='dist/images/colors.jpg' alt='a lot of colorful flowers')
  #modal11.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/colors.jpg' alt='a lot of colorful flowers')

  img.get-modal(data-click='modal12' src='dist/images/flowers-dark.jpg' alt='flowers at night')
  #modal12.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/flowers-dark.jpg' alt='flowers at night')

  img.get-modal(data-click='modal13' src='dist/images/cat-blue-eyes.jpg' alt='a cat with blue eyes')
  #modal13.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/cat-blue-eyes.jpg' alt='a cat with blue eyes')

  img.get-modal(data-click='modal14' src='dist/images/drops.jpg' alt='tree with water drops on it')
  #modal14.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/drops.jpg' alt='tree with water drops on it')

  img.get-modal(data-click='modal15' src='dist/images/palms.jpg' alt='palm trees at sunset')
  #modal15.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/palms.jpg' alt='palm trees at sunset')

  img.get-modal(data-click='modal16' src='dist/images/cat-white.jpg' alt='a white fluffy cat')
  #modal16.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/cat-white.jpg' alt='a white fluffy cat')

  img.get-modal(data-click='modal17' src='dist/images/cat-yawn.jpg' alt='a cat yawning')
  #modal17.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/cat-yawn.jpg' alt='a cat yawning')

  img.get-modal(data-click='modal18' src='dist/images/flower-white.jpg' alt='a white flower')
  #modal18.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/flower-white.jpg' alt='a white flower')

  img.get-modal(data-click='modal19' src='dist/images/lavender.jpg' alt='purple flowers')
  #modal19.modal.hidden
    .modal-container_wide
      span.closebtn ×
      img.modal-img_wide(src='dist/images/lavender.jpg' alt='purple flowers')

  img.get-modal(data-click='modal20' src='dist/images/flower-yellow.jpg' alt='a yellow flower')
  #modal20.modal.hidden
    .modal-container
      span.closebtn ×
      img.modal-img(src='dist/images/flower-yellow.jpg' alt='a yellow flower')
  // end nature
