img.get-modal(data-click='modal04' src='dist/images/shells-print.jpg', alt='shells')
#modal04.modal.hidden
  .modal-container_wide
    span.closebtn ×
    img.modal-img_wide(src='dist/images/shells-print.jpg', alt='shells')
