.print(data-ng-controller='PrintController as print')

  h1 {{ print.test }}

  img.get-modal(data-click='modal04' src='dist/images/shells-print.jpg', alt='shells')
  #modal04.modal.hidden
    span.closebtn ×
    img(src='dist/images/shells-print.jpg', alt='shells')
